
.container {
  
  max-width: 400px;
  max-height: 550px;
  display: flex;
  justify-content: center;
  padding: 40px 60px;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-light-50);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.containerHeader {
display: flex;
align-items: center;
justify-content: space-between;

}

.containerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

}

.containerLinks img {
  width: 40px;
}

.containerLinks img:hover {
  transform: scale(1.2);
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.inputBox label {
  font-size: 14px;
  color: var(--color-dark-50);
}

.inputField {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px;
  border-bottom: 1px solid var(--color-blue-200);
  cursor: text;
}

.inputField i {
  font-size: 18px;
  cursor: text;
  color: var(--color-dark-900);
} 

.inputField i:hover{
  color: var(--color-blue-200);
  transition: 0.4s;
}

.inputField input {
  border: none;
  width: 260px;
  background-color: transparent;
  font-size: 18px;
  padding: 0px 5px;
}

.inputField input:focus {
  outline: none;
}



/* Forgot password */
.forgot_password a {
  text-decoration: none;
  color: var(--color-dark-50);
  font-size: 12px;
}

.forgot_password a:hover {
  color: var(--color-blue-200);
}

/* Login Button */
.login_button {
  border: none;
  background: var(--color-gradient);
  padding: 7px;
  border-radius: 3px;
  color: var(--color-light-50);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#login_button:hover {
  transform: scale(1.05);
}
